<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create a Fruit</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

  <h1>Create a New Fruit!</h1>

  <form action="/fruits" method="POST">
   <div class="checkbox-div">
   <label for="ready-to-eat">Ready to Eat?</label>
   <input type="checkbox" name="isReadyToEat" id="ready-to-eat" /> 
  </div>
    <button type="submit">Add Fruit</button>
  </form>

  <a href="/fruits/">Back to Fruits</a>

</body>

</html>